<%- include('./partial/header')%>
  <ul class="nav nav-pills">
    <% categories.forEach(function(category) { %>
      <li role="presentation" class="<%= category.active ? 'active' : '' %>"><a href="/<%= category.name !== 'all' ? '?table=' + category.name : ''%>"><%= category.name %></a></li>
    <%})%>
  </ul>
  <div class="list-group post-list">
  <% articles.forEach(function(article) { %>
    <li class="list-group-item">
      <div class="author">
        <a href="/user/<%= article.userId %>" class="author-avatar">
          <img class="img-circle">
        </a>
        <a href="" class="author-name"><%= article.nickname %></a>
        <span class="created-time"><%= fromNow(article.createdAt) %></span>
      </div>
      <a href="/article/detail/<%= article.id %>" class="list-topic"><%= article.title %></a>
      <div class="meta">
        <a href="" class="tag"><%= article.category.name %></a>
        <span class="meta-item">
          <i class="glyphicon glyphicon-eye-open"></i> <%= article.pv %>
        </span>
      </div>
    </li>
  <% }) %>
  </div>
<%- include('./partial/footer')%>
